name: Github CI Build

on:
  push:
    branches: [ "master" ]
    paths:
      - 'scr/**'
      - 'http/**'
      - 'tools/maven-bundle-plugin/**'
      - 'tools/osgicheck-maven-plugin/**'
      - 'webconsole/**'
  pull_request:
    branches: [ "master" ]
    paths:
      - 'scr/**'
      - 'http/**'
      - 'gogo/**'
      - 'tools/maven-bundle-plugin/**'
      - 'tools/osgicheck-maven-plugin/**'
      - 'webconsole/**'
    
permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Set up Maven
      uses: stCarolas/setup-maven@d6af6abeda15e98926a57b5aa970a96bb37f97d1 # v5
      with:
        maven-version: 3.9.7
    - name: Check which subproject changed and build affected ones
      uses: dorny/paths-filter@v3
      id: changes
      with:
        filters: |
          scr:
            - 'scr/**'
          http:
            - 'http/**'
          gogo:
            - 'gogo/**'
          maven-bundle-plugin:
            - 'tools/maven-bundle-plugin/**'
          maven-osgicheck-plugin:
            - 'tools/osgicheck-maven-plugin/**'
          webconsole:
            - 'webconsole/**'
    - name: Felix SCR
      if: steps.changes.outputs.scr == 'true'
      run: mvn -B -V -Dstyle.color=always --file scr/pom.xml clean verify
    - name: Felix HTTP 
      if: steps.changes.outputs.http == 'true'
      run: mvn -B -V -Dstyle.color=always "-Dit.test=!MissingWebsocketDependenciesIT" --file http/pom.xml clean install verify
    - name: Felix Maven bundle plugin 
      if: steps.changes.outputs.maven-bundle-plugin == 'true'
      run: mvn -B -V -Dstyle.color=always --file tools/maven-bundle-plugin/pom.xml clean install verify
    - name: Felix Maven OSGi check plugin
      if: steps.changes.outputs.maven-osgicheck-plugin == 'true'
      run: mvn -B -V -Dstyle.color=always --file tools/osgicheck-maven-plugin/pom.xml clean install verify
    - name: Felix Webconsole
      if: steps.changes.outputs.webconsole == 'true'
      run: mvn -B -V -Dstyle.color=always --file webconsole/pom.xml clean install verify
    - name: Felix Gogo Shell
      if: steps.changes.outputs.gogo == 'true'
      run: mvn -B -V -Dstyle.color=always --file gogo/pom.xml clean install verify
    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
      with:
        name: test-results
        if-no-files-found: warn
        path: |
          ${{ github.workspace }}/**/target/surefire-reports/*.xml
          ${{ github.workspace }}/**/target/failsafe-reports/*.xml
